* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    background-color: #050505;
    width: 100vw;
    height: 100vh;
}

img{
    width: min(80%, 36.438rem)

}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 8rem;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

h2 {
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    font-weight: 300;
    
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

input, button {
    background: rgb(110, 110, 110);
    border: none;
    border-radius: 0.3rem;
    width: min(80%, 21.375rem);
    min-height: 3.375rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:hover, button:hover {
    opacity: 0.8;
}

input:active, button:active {
    opacity: 0.6;
    transform: translateY(0.5rem);
}

button {
    margin-top: min(20%, 2rem);
    background-color: #AEC346;
    box-shadow: 0 1rem 1.6rem 0.4rem rgba(174, 195, 70, 0.5);
}

.result {
    margin-top: 1.2rem;
    visibility: hidden;
}